/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../public/images/bg3.webp);
  background-size: cover;
  background-attachment: fixed;
}

header {
  margin-top: 50px;
  width: 70vw;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #250a0a7a;
}
.base-layout-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* LinkButton */
.button {
  padding: 20px 120px;
  font-size: 20px;
  font-weight: 600;
  color: #868383;
  background-color: #250a0a7a;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
}
.button:hover {
  background-color: #4d1e1eab;
}

/* NavigationMenu */
.navigation-menu {
  display: flex;
  justify-content: left;
}
.menu-item {
  padding: 22px 34px;
  border: none;
  text-decoration: none;
  display: block; 
  cursor: pointer;
  transition: 0.5s;
}
.menu-item_active {
  background-color: #afa6a628;
  color: #868383bb;
}
a.menu-item  {
  font-size: 20px;
  font-weight: 600;
  color: #868383;
  text-decoration: none;
}
a:hover.menu-item {
  color: #ffffff;
}
.menu-content {
  padding: 50px 0;
}

/* HomePage */
.homePage-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.homePage-greeting {
  font-size: 36px;
  font-weight: 900;
}
.homePage-descr {
  font-size: 26px;
}

/* AboutPage */
.about-content {
  width: 70vw;
}
.about-title {
  margin: 0 10px 10px;
  font-weight: 600;
  color: #868383;
}
.about-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.about-text {
  margin: 20px 10px 0;
  font-size: 18px;
  color: #868383;
  line-height: 26px;
}
.card-container {
  width: 100%;
}

/* FilmsPage */
.films_content {
  width: 70vw;
  display: flex;
  flex-direction: column;
}
.films_foundInput input {
  padding: 16px 34px;
  margin-bottom: 20px;
  width: 100%;
  /* border-radius: 10px; */
  border: none;
  outline: none;
  background-color: #250a0a7a;
  font-size: 20px;
  color: #868383;
}        
input::placeholder {
  color: #8683834f;
}
.films_foundError {
  color: #868383;
  font-size: 30px;
  margin-left: 34px;
}

/* FilmCard */
.film-title {
  margin: 0 10px 10px;
  font-weight: 600;
  color: #868383;
}
.card-item {
  display: flex;
  justify-content: flex-start;
  padding: 10px 30px; 
}
.card-image {
  width: 150px;
}
.card-info {
  margin: 0 30px;
  width: 100%;
}
.card-title {
  font-size: 20px;
  font-weight: 600;
  color: #250a0a;
}
.film-title_link {
  font-size: 22px;
  font-weight: 900;
  color: #868383;
  text-decoration: none;
}
.film-title_link:hover {
  text-decoration: underline;
}
.film-year {
  margin-top: 12px;
}
.film-year_link {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #250a0a;
}
.card-description{
  font-size: 20px;
  color: #140505;
  padding-right: 10px;
  text-align: justify;
}

/* FilmDetailsPage */
.film-details_container {
  width: 70vw;
  display: flex;
}
.film-details_image {
  width: 20vw;
}
.film-details_content {
  padding: 0 40px;
}
.film-details_title {
  font-size: 20px;
  font-weight: 600;
  color: #250a0a;
}
.film_title {
  padding-bottom: 16px;
  font-size: 22px;
  font-weight: 900;
  color: #868383;
  text-decoration: none;
}
.film-details_starring, .film-details_descr {
  font-size: 20px;
  color: #140505;
  padding-right: 10px;
  text-align: justify;
  margin-bottom: 15px;
}
.film-details_tabs {
  display: flex;
  flex-direction: column;
}

/* Tabs */
.tabs {
  margin: 40px 0 20px;
  display: flex;
  justify-content: left;
}
.tab-link {
  text-align: center;
  font-size: 20px;
  text-decoration: none;
}
a.tab-link  {
  padding: 20px 50px;
  font-size: 20px;
  font-weight: 600;
  color: #868383;
  text-decoration: none;
  transition: 0.5s;
}
.tab-link-active {
  background-color: #86838338;
}
a.tab-link:hover  {
  color: #ffffff;
}

/* FilmDirector */
.film-director_container {
  padding: 20px 10px;
  max-width: 50vw;
  display: flex;
  flex-direction: left;
  margin-bottom: 30px;
  background-color: #86838338;
}
.film-director_image {
  width: 150px;
}
.film-director_info {
  margin-left: 30px;
  
}
.film-director_name, .film-director_about, .film-critics {
  margin-bottom: 15px;
  font-size: 20px;
  color: #140505;
  text-align: justify;
}

/* FilmCritics */
.film-critics {
  max-width: 50vw;
  min-height: 200px;
  padding: 30px 20px;
  background-color: #86838338;
}

.start-showing {
  margin: 30px 0;
}

/* StartShowPage */
.form-input {
  display: inline-block;
  padding: 16px 34px;
  margin-top: 20px;
  width: 30vw;
  border: none;
  outline: none;
  background-color: #250a0a7a;
  font-size: 20px;
  color: #868383;
  transition: 0.3s; /* Плавный переход цвета */
}        
.form-input::placeholder {
  color: #8683834f;
}
.form-input:focus {
  background-color: #79606069;
}
.start-show_title {
  color: #868383;
  margin-bottom: 10px;
}
.start-show_form button {
  margin-top: 30px;
}
.error-validation {
  margin-top: 8px;
}

/* FilmShowPage */
.film-show_page {
  width: 70vw;
  display: flex;
  flex-direction: column;
}
.film-name {
  color: #868383;
}
.film-description {
  font-size: 20px;
  color: #140505;
  padding: 20px 20px 20px 0;
  text-align: justify;
}
.trailer {
  color: #868383;
  font-size: 20px;
  margin-bottom: 30px;
}
a.google-link {
  padding-top: 20px;
  font-size: 20px;
  color: #868383;
}

/* Loader */
.loader {
  position: fixed;
  top: 30%;
  left: 45vw;
  width: 50vw;
  height: 50vh;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-container {
  position: relative;
}

.loader-circle {
  width: 100px;
  height: 100px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.loader-spinner {
  width: 100px;
  height: 100px;
  border: 2px solid #ffffff;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}





